################################################
# Local Configuration
#
# Explicitly ignore files which contain:
#
# 1. Sensitive information you'd rather not push to
#    your git repository.
#    e.g., your personal API keys or passwords.
#
# 2. Environment-specific configuration
#    Basically, anything that would be annoying
#    to have to change every time you do a
#    `git pull`
#    e.g., your local development database, or
#    the S3 bucket you're using for file uploads
#    development.
#
################################################

local.config.js

################################################
# Dependencies
#
# When releasing a production app, you may
# consider including your node_modules and
# bower_components directory in your git repo,
# but during development, its best to exclude it,
# since different developers may be working on
# different kernels, where dependencies would
# need to be recompiled anyway.
#
# More on that here about node_modules dir:
# http://www.futurealoof.com/posts/nodemodules-in-git.html
# (credit Mikeal Rogers, @mikeal)
#
# About bower_components dir, you can see this:
# http://addyosmani.com/blog/checking-in-front-end-dependencies/
# (credit Addy Osmani, @addyosmani)
#
################################################

./lib/
gradle-app.setting
.gradle/

# Note, we are using the gradle wrapper for our builds
# gradle/
# gradlew
# gradlew.bat

################################################
# Build and Distribution directories
#
# Generated files.
################################################

/dist
/build
/release
/temp
/logs
/target
/coverage
/reports
/sessions
/bin
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*




################################################
# IntelliJ / Java / VSCode / Eclipse
#
# Common files generated by InteliJ and Java
# related ecosystem.
################################################
.classpath
.vscode
.project
.settings
.idea/
*.iml
*.iws
*.lck
out/
*.lock
.scannerwork/





################################################
# Miscellaneous
#
# Common files generated by text editors,
# operating systems, file systems, etc.
################################################
*~
*#
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.cache
storybook-static

// As this contains keys it is not included in the project files
sonar-project.properties
